.unity-popup-field {
    margin: 2px 12px;
    justify-content: space-between;
}

.unity-popup-field__input {
    width: 160px;
    max-width: 160px;
    min-width: 160px;
}

/*.container {*/
/*    border-radius: 12px;*/
/*    margin-top: 12px;*/
/*    margin-right: 8px;*/
/*    padding: 8px;*/
/*    background-color: slategray;*/
/*}*/